.binding-case-controller{
    display: inline-block;
    margin-left:5px;
    background: #69D4BB;
    color: #fff;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    padding: 0 12px;
    -webkit-user-select: none;
    opacity: .8;
    font-size:14px;
}
.binding-case-controllers{
    position: absolute;
    right: 0;
    top: -22px;
}
.binding-cases.outline{
    outline: 4px #69D4BB solid;

}

